.mainCardDiv{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  background-color: blue;
  justify-content: center;
  /* flex-direction: column; */
}

.secondCardDiv{
  display: flex;
}

.secondCardDiv1{
  display: flex;
}

.secondCardDiv2{
  display: flex;
}

.couresCardDiv{
  height: 577px;
  width: 507px;
  background-color: #611f69;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 10px;
}

.holder{
  margin-left: 50px;
  margin-top: 30px;
}

.title{
  color:#fbaf1b ;
}

.subTitle{
  color: white;
  font-size: 23px;
  font-weight: bold;
}

.content{
  color: rgb(208, 208, 208);
  font-size: 20px;
}

.couresCardDivNo1{
  height: 577px;
  width: 507px;
  background-color: #1f3290;
  margin-left: 100px;
  margin-top: 150px;
  border-radius: 10px;
}

.couresCardDivNo2{
  height: 577px;
  width: 507px;
  background-color: #1264a3;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 10px;
}

.couresCardDivNo3{
  height: 577px;
  width: 507px;
  background-color: #0097a2;
  margin-left: 100px;
  margin-top: 150px;
  border-radius: 10px;
}

.couresCardDivNo4{
  height: 577px;
  width: 507px;
  background-color: #4a154b;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 10px;
}

.couresCardDivNo5{
  height: 577px;
  width: 507px;
  background-color: #900c3f;
  margin-left: 100px;
  margin-top: 150px;
  border-radius: 10px;
}

.bodyButton{
  height: 50px;
  background-color: #1f3290;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  width: 200px;
  margin-left: 600px;
  margin-top: 100px;
}